In [1]:
import pandas as pd
import numpy as np

In [6]:
# Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list (zip (outside, inside))
hier_index = pd.MultiIndex. from_tuples (hier_index)

# here in hier_index we used zip function it cretes the list of tuple pairs , in piar one is outside & inside

In [14]:
from numpy.random import randn 
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])    
df

             A         B
G1 1 -2.700984  0.858688
   2  0.288006  0.027566
   3 -0.371108 -0.210635
G2 1  0.076561  0.947939
   2 -0.470832 -0.206955
   3 -0.796368  0.154324

In [15]:
df.loc['G1']                                 #this will return the all data under G1 index

          A         B
1 -2.700984  0.858688
2  0.288006  0.027566
3 -0.371108 -0.210635

In [16]:
df.loc['G1'].loc[1]                        #in G1 index data in 1 index is shown

A   -2.700984
B    0.858688
Name: 1, dtype: float64

In [17]:
df

             A         B
G1 1 -2.700984  0.858688
   2  0.288006  0.027566
   3 -0.371108 -0.210635
G2 1  0.076561  0.947939
   2 -0.470832 -0.206955
   3 -0.796368  0.154324

In [20]:
# here first two index coloums have no labeles to set label to them:
df.index.names = ['Groups','Num']
df

                   A         B
Groups Num
G1     1   -2.700984  0.858688
       2    0.288006  0.027566
       3   -0.371108 -0.210635
G2     1    0.076561  0.947939
       2   -0.470832 -0.206955
       3   -0.796368  0.154324

In [21]:
# now suppose i want to grab only value in G1 in 2nd index of B which is 0.027566
df.loc['G1'].loc[2].loc['B']

0.027565752814329013