In [1]:
import numpy as np
import pandas as pd

In [3]:
dict = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}
dict

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [7]:
df = pd.DataFrame(dict)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [8]:
df.dropna()                       #this droped the rows containg null values

     A    B  C
0  1.0  5.0  1

In [9]:
df.dropna(thresh=2)               
#this value drop the rows containg null values but it excepets the rows containg 2 or more not null values

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [12]:
df.fillna(value="I am filled")                       
#null values filled by the value provided

             A            B  C
0          1.0          5.0  1
1          2.0  I am filled  2
2  I am filled  I am filled  3

In [16]:
df['A']                    #here one value in coloum A is null lets fill it , aao chalo usko bharte hai

0    1.0
1    2.0
2    NaN
Name: A, dtype: float64

In [18]:
df['A'].fillna(value = df['A'].mean())       #we filled the null value with mean of A coloum

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64