In [38]:
import pandas as pd
import numpy as np
df = pd.read_csv('Sales Data.csv')
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12
...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14

In [4]:
# How to group the data by 'City' and calculate the total sales for each city? 
group_by_city = df.groupby('City')['Sales'].sum()
group_by_city

City
 Atlanta          2795498.58
 Austin           1819581.75
 Boston           3661642.01
 Dallas           2767975.40
 Los Angeles      5452570.80
 New York City    4664317.43
 Portland         2320490.61
 San Francisco    8262203.91
 Seattle          2747755.48
Name: Sales, dtype: float64

In [6]:
# How to group the data by 'Product' and calculate the total quantity ordered for each product? 
group_by_product = df.groupby('Product')['Quantity Ordered'].sum()
group_by_product

Product
20in Monitor                   4129
27in 4K Gaming Monitor         6244
27in FHD Monitor               7550
34in Ultrawide Monitor         6199
AA Batteries (4-pack)         27635
AAA Batteries (4-pack)        31017
Apple Airpods Headphones      15661
Bose SoundSport Headphones    13457
Flatscreen TV                  4819
Google Phone                   5532
LG Dryer                        646
LG Washing Machine              666
Lightning Charging Cable      23217
Macbook Pro Laptop             4728
ThinkPad Laptop                4130
USB-C Charging Cable          23975
Vareebadd Phone                2068
Wired Headphones              20557
iPhone                         6849
Name: Quantity Ordered, dtype: int64

In [11]:
# How to group the data by 'Month' and calculate the average sales for each month? 
group_by_month = df.groupby('Month')['Sales'].sum()

mean_of_month = (group_by_month / 12)
mean_of_month

Month
1     1822256.73
2     2202022.42
3     2807100.38
4     3390670.24
5     3152606.75
6     2577802.26
7     2647775.76
8     2244467.88
9     2097560.13
10    3736726.88
11    3199603.20
12    4613443.34
Name: Sales, dtype: float64

In [12]:
# How to group the data by 'Hour' and find the total sales for each hour? 
group_by_hour = df.groupby('Hour')['Sales'].sum()
group_by_hour

Hour
0      713721.27
1      460866.88
2      234851.44
3      145757.89
4      162661.01
5      230679.82
6      448113.00
7      744854.12
8     1192348.97
9     1639030.58
10    1944286.77
11    2300610.24
12    2316821.34
13    2155389.80
14    2083672.73
15    1941549.60
16    1904601.31
17    2129361.61
18    2219348.30
19    2412938.54
20    2281716.24
21    2042000.86
22    1607549.21
23    1179304.44
Name: Sales, dtype: float64

In [14]:
# How to group the data by 'City' and count the number of orders in each city? 
group_by_number_of_orders = df.groupby('City')['Quantity Ordered'].count()
group_by_number_of_orders

City
 Atlanta          14881
 Austin            9905
 Boston           19934
 Dallas           14820
 Los Angeles      29605
 New York City    24876
 Portland         12465
 San Francisco    44732
 Seattle          14732
Name: Quantity Ordered, dtype: int64

In [19]:
# How to group the data by 'Product' and find the highest price each for each product? 
group_by_higest_price_of_product = df.groupby('Product')['Price Each'].max()
group_by_higest_price_of_product

Product
20in Monitor                   109.99
27in 4K Gaming Monitor         389.99
27in FHD Monitor               149.99
34in Ultrawide Monitor         379.99
AA Batteries (4-pack)            3.84
AAA Batteries (4-pack)           2.99
Apple Airpods Headphones       150.00
Bose SoundSport Headphones      99.99
Flatscreen TV                  300.00
Google Phone                   600.00
LG Dryer                       600.00
LG Washing Machine             600.00
Lightning Charging Cable        14.95
Macbook Pro Laptop            1700.00
ThinkPad Laptop                999.99
USB-C Charging Cable            11.95
Vareebadd Phone                400.00
Wired Headphones                11.99
iPhone                         700.00
Name: Price Each, dtype: float64

In [20]:
# How to group the data by 'City' and calculate the average quantity ordered in each city? 
mean_of_quantity_ordered = df.groupby('City')['Quantity Ordered'].mean()
mean_of_quantity_ordered

City
 Atlanta          1.115651
 Austin           1.125997
 Boston           1.130129
 Dallas           1.128880
 Los Angeles      1.124438
 New York City    1.122849
 Portland         1.127397
 San Francisco    1.123111
 Seattle          1.123608
Name: Quantity Ordered, dtype: float64

In [26]:
# How to group the data by 'Month' and find the month with the highest total sales? 
group_by_higest_total_sales_month = df.groupby('Month')['Sales'].sum()
group_by_higest_total_sales_month.sort_values(ascending=False)

Month
12    4613443.34
10    3736726.88
4     3390670.24
11    3199603.20
5     3152606.75
3     2807100.38
7     2647775.76
6     2577802.26
8     2244467.88
2     2202022.42
9     2097560.13
1     1822256.73
Name: Sales, dtype: float64

In [29]:
# How to group the data by 'Hour' and calculate the average sales for each hour? 
group_by_avg_sales_per_hour = df.groupby('Hour')['Sales'].mean()
group_by_avg_sales_per_hour

Hour
0     182.537409
1     196.113566
2     188.939212
3     175.400590
4     190.469567
5     174.625148
6     180.545125
7     185.702847
8     190.592866
9     187.360606
10    177.657782
11    185.368644
12    184.064617
13    177.705483
14    189.700722
15    190.815686
16    183.416921
17    195.372200
18    180.728689
19    186.977028
20    186.597664
21    186.979293
22    182.220495
23    187.936963
Name: Sales, dtype: float64

In [31]:
# How to group the data by 'City' and find the city with the lowest total sales? 
group_by_city_and_sales = df.groupby('City')['Sales'].sum()
group_by_city_and_sales.sort_values(ascending=True)

City
 Austin           1819581.75
 Portland         2320490.61
 Seattle          2747755.48
 Dallas           2767975.40
 Atlanta          2795498.58
 Boston           3661642.01
 New York City    4664317.43
 Los Angeles      5452570.80
 San Francisco    8262203.91
Name: Sales, dtype: float64

In [32]:
# How to group the data by 'Product' and calculate the total revenue generated for each product? 
group_by_product_revenue = df.groupby('Product')['Sales'].sum()
group_by_product_revenue

Product
20in Monitor                   454148.71
27in 4K Gaming Monitor        2435097.56
27in FHD Monitor              1132424.50
34in Ultrawide Monitor        2355558.01
AA Batteries (4-pack)          106118.40
AAA Batteries (4-pack)          92740.83
Apple Airpods Headphones      2349150.00
Bose SoundSport Headphones    1345565.43
Flatscreen TV                 1445700.00
Google Phone                  3319200.00
LG Dryer                       387600.00
LG Washing Machine             399600.00
Lightning Charging Cable       347094.15
Macbook Pro Laptop            8037600.00
ThinkPad Laptop               4129958.70
USB-C Charging Cable           286501.25
Vareebadd Phone                827200.00
Wired Headphones               246478.43
iPhone                        4794300.00
Name: Sales, dtype: float64

In [41]:
# How to group the data by 'City' and calculate the average price each in each city? 
group_by_city_avg_sales = df.groupby(['City' , 'Product'])['Sales'].mean()
group_by_city_avg_sales

City      Product
 Atlanta  20in Monitor              111.291657
          27in 4K Gaming Monitor    390.782663
          27in FHD Monitor          151.017329
          34in Ultrawide Monitor    383.169833
          AA Batteries (4-pack)       5.069910
                                       ...
 Seattle  ThinkPad Laptop           999.990000
          USB-C Charging Cable       13.107130
          Vareebadd Phone           400.000000
          Wired Headphones           13.126229
          iPhone                    701.284404
Name: Sales, Length: 171, dtype: float64

In [42]:
# How to group the data by 'Month' and find the total quantity ordered for each month? 
group_by_month_and_QO = df.groupby('Month')['Quantity Ordered'].sum()
group_by_month_and_QO

Month
1     10903
2     13449
3     17005
4     20558
5     18667
6     15253
7     16072
8     13448
9     13109
10    22703
11    19798
12    28114
Name: Quantity Ordered, dtype: int64

In [43]:
# How to group the data by 'Hour' and calculate the total quantity ordered for each hour? 
group_by_hour_and_QO = df.groupby('Hour')["Quantity Ordered"].sum()
group_by_hour_and_QO

Hour
0      4428
1      2619
2      1398
3       928
4       937
5      1493
6      2810
7      4556
8      7002
9      9816
10    12308
11    14005
12    14202
13    13685
14    12362
15    11391
16    11662
17    12229
18    13802
19    14470
20    13768
21    12244
22     9899
23     7065
Name: Quantity Ordered, dtype: int64

In [75]:
# How to group the data by 'City' and find the most frequently ordered product in each city? 
grouped = df.groupby(['City', 'Product'])['Quantity Ordered'].sum().reset_index()
grouped = grouped.sort_values(by=['City', 'Quantity Ordered'] )
grouped
most_ordered_per_city = grouped.drop_duplicates(subset='City', keep='first')
most_ordered_per_city

               City             Product  Quantity Ordered
11          Atlanta  LG Washing Machine                52
30           Austin  LG Washing Machine                26
48           Boston            LG Dryer                59
67           Dallas            LG Dryer                44
87      Los Angeles  LG Washing Machine               105
105   New York City            LG Dryer                77
124        Portland            LG Dryer                37
143   San Francisco            LG Dryer               143
162         Seattle            LG Dryer                56

In [79]:
# How to group the data by 'Product' and calculate the average sales for each product? 
# Group by 'Product' and calculate the average sales
group_by_product_avg_sales = df.groupby('Product')['Sales'].mean()
print(group_by_product_avg_sales)

Product
20in Monitor                   110.740968
27in 4K Gaming Monitor         390.866382
27in FHD Monitor               150.849141
34in Ultrawide Monitor         381.096588
AA Batteries (4-pack)            5.157137
AAA Batteries (4-pack)           4.493040
Apple Airpods Headphones       151.080455
Bose SoundSport Headphones     100.980520
Flatscreen TV                  301.187500
Google Phone                   600.760181
LG Dryer                       600.000000
LG Washing Machine             600.000000
Lightning Charging Cable        16.026140
Macbook Pro Laptop            1701.439458
ThinkPad Laptop               1000.474491
USB-C Charging Cable            13.080457
Vareebadd Phone                400.581114
Wired Headphones                13.053619
iPhone                         700.716165
Name: Sales, dtype: float64

In [92]:
# How to group the data by 'Hour' and find the hour with the highest average sales?
group_by_hour_avg_sales = df.groupby('Hour')['Sales'].mean().reset_index()
# group_by_hour_avg_sales
highest_avg_sales_hour = group_by_hour_avg_sales.loc[group_by_hour_avg_sales['Sales'].idxmax()]
highest_avg_sales_hour

Hour       1.000000
Sales    196.113566
Name: 1, dtype: float64

In [93]:
# How to group the data by 'Month' and find the month with the lowest total sales? 
group_by_month_avg_sales = df.groupby('Month')['Sales'].mean().reset_index()
group_by_month_avg_sales
lowest_avg_sales_month = group_by_month_avg_sales.loc[group_by_month_avg_sales['Sales'].idxmax()]
lowest_avg_sales_month

Month      5.000000
Sales    190.305852
Name: 4, dtype: float64

In [97]:
# How to group the data by 'City' and calculate the total number of different products ordered in each city? 
group_by_city_unique_products = df.groupby('City')['Product'].nunique()
group_by_city_unique_products

City
 Atlanta          19
 Austin           19
 Boston           19
 Dallas           19
 Los Angeles      19
 New York City    19
 Portland         19
 San Francisco    19
 Seattle          19
Name: Product, dtype: int64

In [103]:
# How to group the data by 'Product' and find the product with the highest average sales?
group_by_product_avg_sales = df.groupby('Product')['Sales'].mean().reset_index()

highest_avg_sales_product = group_by_product_avg_sales.loc[group_by_product_avg_sales['Sales'].idxmax()]
print(highest_avg_sales_product)

Product    Macbook Pro Laptop
Sales             1701.439458
Name: 13, dtype: object

In [104]:
# How to group the data by 'Product' and 'City' and find the total quantity ordered for each product in each city?
group_by_city_Product_sales = df.groupby(['City', 'Product'])['Sales'].count()
group_by_city_Product_sales

City      Product
 Atlanta  20in Monitor               338
          27in 4K Gaming Monitor     492
          27in FHD Monitor           584
          34in Ultrawide Monitor     478
          AA Batteries (4-pack)     1661
                                    ...
 Seattle  ThinkPad Laptop            333
          USB-C Charging Cable      1704
          Vareebadd Phone            179
          Wired Headphones          1509
          iPhone                     545
Name: Sales, Length: 171, dtype: int64

In [105]:
# How to group the data by 'Month' and 'Hour' and calculate the average sales for each combination?
group_by_month_hour = df.groupby(['Month','Hour'])['Sales'].mean()
group_by_month_hour

Month  Hour
1      0       195.050046
       1       205.380417
       2       220.012125
       3       183.749730
       4       133.714583
                  ...
12     19      180.499246
       20      196.474190
       21      180.348545
       22      180.171290
       23      184.262777
Name: Sales, Length: 288, dtype: float64

In [107]:
# How to group the data by 'City' and 'Hour' and find the total sales for each combination?
group_by_city_hour = df.groupby(['City','Hour'])['Sales'].sum()
group_by_city_hour

City      Hour
 Atlanta  0        62855.02
          1        44443.32
          2        25211.14
          3         7018.49
          4        18954.97
                    ...
 Seattle  19      183817.61
          20      168681.88
          21      171082.96
          22      136919.63
          23      102794.00
Name: Sales, Length: 216, dtype: float64

In [109]:
# How to group the data by 'Product' and 'Month' and calculate the total revenue generated for each combination?
group_by_product_month = df.groupby(['Product','Month'])['Sales'].sum()
group_by_product_month

Product       Month
20in Monitor  1         23977.82
              2         27057.54
              3         35856.74
              4         43226.07
              5         37506.59
                         ...
iPhone        8        307300.00
              9        277900.00
              10       501200.00
              11       465500.00
              12       634200.00
Name: Sales, Length: 228, dtype: float64